body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;

}
.container-pos{
    height: 100vh; 
    overflow: hidden;
}

.product-section{
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: whitesmoke;
}

.cart-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.product-card {
    cursor: pointer;
    transition: all 0,3s ;
    border: 2px solid rgb(240, 233, 233);
    height: 100%;
    margin-top: 15px;
}

.product-card .product-img img{
    height: 120px;
    object-fit: cover;
    display: file;
    align-items: center;
    justify-content: center;
    font-size: 2 rem;
    /* 1 rem:16px */
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-color: rgb(228, 73, 73);
}

.category-btn {
    margin: 5px;
    border-radius: 25px;
    padding: 8px 20px;
}

.search-box{
    border-radius: 25px;
    padding: 10px 10px;
    border: 2px solid #f13607;
}

.cart-header {
    background-color:#f13607;
    color: white;
    box-shadow: 0 0 3px gainsboro;
    border: 1px solid grey;
    padding: 20px;
}

.cart-items {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}

.cart-footer {
    background-color: white;
    padding: 20px;
    border-top: 1px solid red;
}

.total-section {
    background-color: rgb(236, 233, 233);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-chechkout {
    border: none;
    padding: 15px;
    font-size: 1,1rem;
    font-weight: bold;
}